@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Bibliotheke.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Add a Book</a>
    </p>
}

<p>
    Search for Books:
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="searchString" />
        </div>
        <div class="form-group">
            <br />
            <input type="submit" value="Search" class="btn btn-outline-primary" />
            <a class="btn btn-outline-danger" asp-action="Index" style="margin-left: 5px;">Reset</a>
        </div>
    </form>
</p>
<br />
@foreach (var item in Model)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.title)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.author)</h6>
                    <p class="card-text">Description:<br />@Html.DisplayFor(modelItem => item.description)</p>
                    <br />
                    <p class="card-text">Published on @Html.DisplayFor(modelItem => item.published)</p>
                    <p class="card-text">Status: @Html.DisplayFor(modelItem => item.status)</p>
                    <br />
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-primary" asp-controller="Books" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        <a class="btn btn-outline-secondary" asp-controller="Books" asp-action="Details" asp-route-id="@item.id">Details</a>
                        <a class="btn btn-outline-danger" asp-controller="Books" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>
}